* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#contatosGeral {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
#contatos {
  align-items: center;
  /* background: aqua; */
  background: linear-gradient(
    90deg,
    rgba(197, 245, 249, 1) 0%,
    rgba(0, 220, 255, 1) 100%
  );
  border: 3px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 30%;
}
