* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(197, 245, 249, 1) 0%,
    rgba(0, 220, 255, 1) 100%
  );
}
#contatosGeral {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
#contatos {
  align-items: center;
  background: #fff;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 50%;
  justify-items: center;
  /* width: 30%; */
  padding: 50px;
  position: relative;
  /* font-size: 1rem; */
  gap: 10px;
}
#titulo {
  background-color: #fff;
  display: flex;
  top: 4%;
  left: 30%;
  position: absolute;
}
span.material-icons {
  background-color: #fff;
}
.divs span,
.divs p,
h1 {
  background: #fff;
}
